alias ls="ls -t --color=tty"
alias trojka='mpv mms://stream.polskieradio.pl/program3'
alias nowyswiat='mpv https://stream.rcs.revma.com/ypqt40u0x1zuv'
alias top='htop'
alias zshrc="$EDITOR ~/.zshrc"
alias zshtheme='$EDITOR ~/.oh-my-zsh-custom/themes/doubleloop.zsh-theme'
alias sshconf='$EDITOR ~/.ssh/config'
alias tmuxrc='$EDITOR ~/.tmux.conf'
alias i3rc='$EDITOR ~/.config/i3/config'
zssh() { ssh "$@" -t zsh; }
alias o="xdg-open"
alias vi=vim
alias mr='mr -j30'
alias gdb='gdb -q'
alias rmf='rm -rf'
alias pp='ipython3'
alias qb='qutebrowser'
alias qbw='qutebrowser --target window'
alias fd=fdfind
alias transs="trans -speak -b -no-pager"
alias transi="trans -interactive"
alias gru="git restore --staged"
alias glg='git lg'
alias glgp='git lgp'
alias glo="git lo"
alias glol="git lol"
cless() { pygmentize -f 256 -O style=monokai "$1" | less; }
alias ag='ag --pager less'
alias rg='rg -n --color always'
[[ -n "$ZSH_VERSION" ]] && {
    alias -g H='--help'
    alias -g HL='--help | less'
    alias -g V='--version'
    alias -g GL='| ag --pager less'
    alias history='fc -ilD 1 | less +G'

    j() {
        if (( $# == 0 )); then
            _zlua -I -t .
        else
            _zlua -I -t $@
        fi
    }
    alias jb='_zlua -b'
}

# https://github.com/hut/dotfiles/blob/master/bin/objdump-to-shellcode
objdump2shellcode() {
    grep '[0-9a-f]:' |
    grep -v 'file' |
    cut -f2 -d: |
    cut -f1-6 -d' ' |
    tr -s ' ' |
    tr '\t' ' ' |
    sed 's/ $//g' |
    sed 's/ /\\x/g' |
    paste -d '' -s |
    sed 's/^/"/' |
    sed 's/$/"/g'
}

_exists atom-nightly && {
    alias atom=atom-nightly
    alias apm=apm-nightly
}

alias tldr="tldr -t ocean"

update() {
    sudo -v
    (cd ~/ && mr update)
    sudo sh -c "apt update && \
                apt dist-upgrade -y && \
                apt autoremove --purge -y"
    sudo -k
    flatpak update --noninteractive
    flatpak uninstall --unused --noninteractive
}

pluglog() {
    local name logs days
    if [ -z $1 ]; then
        days=1
    else
        days=$1
    fi
    (
        cd $HOME/.local/share/nvim/plugged
        for name in *; do
            cd $name;
            logs=$(git --no-pager log --oneline --no-decorate --since="$days days ago")
            if [ -n "$logs" ]; then
                echo -e "######## $name ########"
                git --no-pager log --oneline --no-decorate --since="$days days ago"
                echo
            fi
            cd ..
        done
    )
}
