alias top='htop'
alias trojka='mplayer mms://stream.polskieradio.pl/program3'
alias sshconf='$EDITOR ~/.ssh/config'
function zssh {
    ssh "$@" -t zsh
}
alias o="xdg-open"
alias vimrc='$EDITOR ~/.vimrc'
alias vim=nvim
alias vi=vim
