dotfiles/.ssh
dotfiles/.gnupg
dotfiles/.fasd
dotfiles/.workrave
dotfiles/.config/transmission
dotfiles/.config/doublecmd
dotfiles/.config/htop
dotfiles/.xchat2
dotfiles/.config/sublime-text-3
dotfiles/.mrconfig
dotfiles/.mackup.cfg
mackupenv
