[submodule ".oh-my-zsh-custom/zsh-autosuggestions"]
	path = .oh-my-zsh-custom/plugins/zsh-autosuggestions
	url = git@github.com:zsh-users/zsh-autosuggestions.git
[submodule ".oh-my-zsh-custom/zsh-git-prompt"]
	path = .oh-my-zsh-custom/plugins/zsh-git-prompt
	url = git@github.com:doubleloop/zsh-git-prompt.git
[submodule ".oh-my-zsh-custom/zsh-syntax-highlighting"]
	path = .oh-my-zsh-custom/plugins/zsh-syntax-highlighting
	url = git@github.com:zsh-users/zsh-syntax-highlighting.git
[submodule ".oh-my-zsh-custom/plugins/alias-tips"]
	path = .oh-my-zsh-custom/plugins/alias-tips
	url = git@github.com:djui/alias-tips.git
