dotfiles/.ssh
dotfiles/.gnupg
dotfiles/.fasd
dotfiles/.workrave
dotfiles/.config/transmission
dotfiles/.config/htop
dotfiles/.config/sublime-text-3
dotfiles/.mrconfig
dotfiles/.mackup.cfg
mackupenv
**/packer_compiled.lua

**/*.pyo
**/*.spl
**/*.sug
